<h2 class="pb-2 mt-4 mb-2">Products</h2>
<button class="btn btn-purple" type="button" data-toggle="collapse" data-target="#collapseNewProductForm" aria-expanded="false" aria-controls="collapseExample">
  Add a new product
</button>
<div class="collapse pb-4 mt-2" id="collapseNewProductForm">
  <div class="card card-body">
    <form #registerProductForm="ngForm" (submit)="onRegisterSubmit(); registerProductForm.reset();">
      <div class="form-group">
        <label>Name</label>
        <input type="text" [(ngModel)]="name" name="name" class="form-control">
      </div>
      <div class="form-group">
        <label>Description</label>
        <input type="text" [(ngModel)]="description" name="description" class="form-control">
      </div>
      <div class="form-group">
        <label>Brand</label>
        <input type="text" [(ngModel)]="brand" name="brand" class="form-control">
      </div>
      <div class="form-group">
        <label>Stock</label>
        <input type="number" [(ngModel)]="stock" name="stock" class="form-control">
      </div>
      <input type="submit" class="btn btn-purple" value="Submit">
    </form>
  </div>
</div>
<mat-table class="w-100 mt-4" [dataSource]=dataSource>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let product"> {{product.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
    <mat-cell *matCellDef="let product"> {{product.description}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="brand">
    <mat-header-cell *matHeaderCellDef> Brand </mat-header-cell>
    <mat-cell *matCellDef="let product"> {{product.brand}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="stock">
    <mat-header-cell *matHeaderCellDef> Stock </mat-header-cell>
    <mat-cell *matCellDef="let product"> {{product.stock}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
