<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">United DJs</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav mr-auto">
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a class="nav-link" [routerLink]="['/']">Home</a></li>
      </ul>

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>

      <ul class="nav navbar-nav mr-lg-2 ml-lg-4">
        <li *ngIf="authService.loggedIn();" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a class="nav-link" [routerLink]="['/login']">Login</a></li>
        <li *ngIf="authService.loggedIn();" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a class="nav-link" [routerLink]="['/register']">Register</a></li>
        <li *ngIf="!authService.loggedIn();" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a class="nav-link" [routerLink]="['/profile']">Profile</a></li>
        <li *ngIf="!authService.loggedIn();"><a class="nav-link" href="#" (click)="onLogoutClick()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
